* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f2f5; 
    display: flex;
    flex-direction: column;
}


header {
    background-color: #5e0448; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(225, 222, 222);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
} 

section { 
    margin: 10px; 
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;  
    border: 1px solid #d6c9c9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center; 
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}


h1, h2 {
    color: #57033f; 
    margin-bottom: 20px;
}

main img {
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #e2e8f0;
}

main p {
    color: #4a5568;
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    margin-top: 15px;
}

ul li::before {
    content: "•";
    color: #57033f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}


form {
    text-align: left; 
    width: 100%;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #57033f;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dbcbe0;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    background-color: #b3218a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #57033f;
}


footer {
    background-color:#57033f ;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}



